/*css reset*/
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*styling*/
.padding-bottom {
  padding-bottom: 5px;
}
.main {
  padding-top: 10px;
  background: aliceblue;
}
.thread {
  border-left: 1px solid #b9b9b9;
}
.comment-box {
  padding: 20px;
  /*border-left: 1px solid black;*/
}

.username {
  font-size: 18px;
  font-weight: bold;
}

.avatar {
  width: 25px;
  height: 25px;
  background-image: url("http://res.cloudinary.com/dt5viyxyq/image/upload/v1502838506/pr_ytrhce.jpg");
  background-size: cover;
  margin-right: 0;
}

.comment {
  font-size: 15px;
}

.add-comment {
  font-size: 12px;
}

.add-comment button {
  background: #ffffff;
  padding: 5px;
}
